useDynLib(chname="DiGGer.dll",package="DiGGer", lib.loc = "x64")

## Export all names
exportPattern("^[^\\.]")

## Import all packages listed as Imports or Depends
import(
  R.oo,
  R.methodsS3,
  MASS
)
